cloudnative-pg:
  additionalEnv:
    - name: WATCH_NAMESPACE
      value: "kyverno,policy-system"
  config:
    data:
      # Rotate certificates managed by the CNPG operator this many days before their expiration.
      EXPIRING_CHECK_THRESHOLD: "16"
  image:
    repository: gsoci.azurecr.io/giantswarm/cloudnative-pg
  monitoring:
    podMonitorEnabled: true
    podMonitorAdditionalLabels:
      application.giantswarm.io/team: shield
    grafanaDashboard:
      create: true
      labels:
        app.giantswarm.io/kind: "dashboard"
      annotations:
        observability.giantswarm.io/organization: "Giant Swarm"
  resources:
    limits:
      cpu: 250m
      memory: 300Mi
    requests:
      cpu: 250m
      memory: 300Mi

clusterImageCatalog:
  enabled: true
  registry: gsoci.azurecr.io
  repository: giantswarm/postgresql-cnpg
  # ! Modifying the image tag will cause any existing PostgreSQL clusters using that major version to be rolled.
  images:
    - major: 16
      tag: 16.3

vpa:
  enabled: true
  containerPolicies:
    minAllowed:
      cpu: "50m"

ciliumNetworkPolicy:
  enabled: true
